* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial;
}

.wrap {
  width: 1200px;
  margin: auto;
}

.wrap2 {
  width: 700px;
  margin: auto;
}

.caixa1 {
  width: 700px;
  height: 150px;
  margin: auto;
  background-color: rgb(77, 77, 77);
  border-radius: 10px;
}

.sim {
  border-radius: 10px;
  margin-top: 50px;
  float: left;
  margin-left: 75px;
  margin-right: 120px;
  width: 150px;
  height: 100px;
  background-color: grey;
  color: white;
  font-size: 30px;
}

.sim:hover {
  background-color: rgb(77, 77, 77);
}

.nao {
  border-radius: 10px;
  margin-top: 50px;
  float: left;
  margin-left: 120px;
  margin-right: 75px;
  width: 150px;
  height: 100px;
  background-color: grey;
  color: white;
  font-size: 30px;
}

.nao:hover {
  background-color: rgb(77, 77, 77);
}

a {
  color: white;
  text-decoration: none;
}

header {
  margin-bottom: 120px;
  background-color: rgb(77, 77, 77);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}
